body{
    background-color: rgb(205, 228, 247);
}
header{
    height: 500px;
    width: 100%;
    background-color: rgb(7, 107, 52)
}

h1{
    text-align: center;
    color: white;
    font-size: xx-large;
}

#foto{
    height: 400px;
    width: 20%;
    margin-left: 100px;
}

#aptitudes{
    color: black;
}

#resprof{
    color: black;
}

#histlab{
    color: black;
}

#formacion{
    color: black;
}

#idiomas{
    color: black;
}

#contacto{
    font-size: large;
}

/* link no visitado */
#contacto:link {
    color: red;
}

/* link visitado */
#contacto:visited {
    color: green;
}

/* pasar el mouse sobre el link */
#contacto:hover {
    color: hotpink;
}

/* seleccionar link */
#contacto:active {
    color: blue;
}