body{
    background-color: rgb(205, 228, 247);
}
header{
    background-color: rgb(7, 107, 52);
}

h1{
    text-align: center;
    color: white;
}

#aptitudes{
    color: black;
}

#resprof{
    color: black;
}

#histlab{
    color: black;
}

#formacion{
    color: black;
}

#idiomas{
    color: black;
}

/* link no visitado */
#contacto:link {
    color: red;
}

/* link visitado */
#contacto:visited {
    color: green;
}

/* pasar el mouse sobre el link */
#contacto:hover {
    color: hotpink;
}

/* seleccionar link */
#contacto:active {
    color: blue;
}